/* src/index.css */
body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background-color: #f4f6f9;
  /* El fondo gris clarito de tu sistema */
}

#root {
  width: 100%;
  min-height: 100vh;
}